{% load static %}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon/airplane-favicon.png' %}"
    />
    <title>Landing Page - Airplane Detection</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <header>
      <img
        src="{% static 'image/airplane-logo.png' %}"
        alt="Logo"
        id="ap-header-logo"
      />
    </header>

    <main class="container">
      <div class="ap-instruction-box">
        <div class="row">
          <div class="col-12 col-xl-6 mt-xl-0 mt-4">
            <h1>Airplane Detection</h1>
            <h2>Upload your own Airplane image</h2>
            <p>
              Upload your own aerial image to find all the airplanes, then use
              the slider to compare your original photo with the processed
              results.
            </p>

            <form
              id="ap-image-form"
              method="post"
              enctype="multipart/form-data"
              class="row mt-4"
            >
              {% csrf_token %}
              <div class="col-12 col-xl-6 text-xl-start text-center mb-2">
                <label
                  id="ap-image-upload-label"
                  for="ap-image-upload"
                  class="ap-upload-file-label ap-active"
                  >Upload Image</label
                >
                <input
                  id="ap-image-upload"
                  type="file"
                  name="ap-image-upload"
                  accept="image/*"
                  class="ap-upload-file-input form-control"
                  required
                />
              </div>

              <div class="col-12 col-xl-6 text-xl-start text-center">
                <button
                  id="ap-process-btn"
                  class="ap-start-process-btn"
                  type="submit"
                  name="process-image"
                  value="1"
                  formaction="#ap-processed-result"
                  disabled
                  aria-disabled="true"
                >
                  Start Process
                </button>
              </div>
            </form>

            {% if error %}
            <div class="alert alert-warning mt-3">{{ error }}</div>
            {% endif %}
          </div>

          <div class="col-12 col-xl-6 mt-xl-0 mt-4 align-self-center">
            <video autoplay loop muted>
              <source
                src="{% static 'video/illustration.mp4' %}"
                type="video/mp4"
              />
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>

      <br />

      {% if back_image_url and front_image_url %}
      <div class="ap-output-box" id="ap-processed-result">
        <div class="ap-output-image-comparison">
          <div class="ap-compare-image" id="ap-compare-image">
            <!-- BACK image = bearbeitet -->
            <img src="{{ back_image_url }}" alt="Processed Image" />
            <!-- FRONT image = original -->
            <img src="{{ front_image_url }}" alt="Original Image" />
            <div class="ap-compare-image-slider"></div>
          </div>
        </div>

        <div class="container-fluid ap-output-image-information">
          <div class="row">
            <div class="col-12 col-xl-11">
              <p>
                This image contains <bold>{{ plane_count }}</bold> detected
                airplanes.
              </p>
            </div>
            <div class="col-12 col-xl-1 text-center text-xl-end">
              <svg
                id="ap-scroll-up"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 256 256"
                enable-background="new 0 0 256 256"
                xml:space="preserve"
              >
                <path
                  fill="#444"
                  d="M40.3,189.5c-6.9,6.9-18.2,6.9-25.1,0c-6.9-6.9-6.9-18,0-24.8l100.2-98.2c6.9-6.9,18.2-6.9,25.1,0l100.2,98.2
                       c6.9,6.9,6.9,18,0,24.8c-6.9,6.9-18.2,6.9-25.1,0L128,109L40.3,189.5z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </main>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center ap-footer-icon">
            <a href="https://github.com/domi-zc/DSPRO1" target="_blank">
              <img
                src="{% static 'image/github-mark.png' %}"
                alt="GitHub Logo"
              />
            </a>
          </div>
        </div>
      </div>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
